.category {
  width: 100%;
  padding: 3rem 0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 3rem 0;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 3.5rem;
  margin: 0;
  color: #1d1f22;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  justify-items: center;
  gap: 2rem;
}

@media screen and (max-width: 864px) {
  .header {
    align-items: center;
  }

  .products {
    grid-template-columns: 1fr;
  }
}
