.swatch {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 4rem);
  gap: 1rem;
}

.value {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #a6a6a6;
  border-radius: 2px;
  box-sizing: border-box;
  opacity: 0.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.125rem;
  color: #292929;
  text-align: center;
}

.value.dark {
  color: #ffffff;
}

.value.selected {
  opacity: 1;
}

.swatch.small {
  gap: 0.5rem;
}

.swatch.small .value {
  padding: 0.2rem;
}

.swatch.tiny {
  grid-template-columns: repeat(auto-fill, 2.5rem);
  gap: 0.5rem;
}

.swatch.tiny .value {
  border-radius: 0;
  font-size: 0.6rem;
  line-height: 0.8rem;
  padding: 0.1rem;
}

.swatch:not(.small):not(.tiny) .value.selected {
  border: 2px solid transparent;
  outline: 2px solid #1d1f22;
}

.swatch.small .value.selected,
.swatch.tiny .value.selected {
  border: 2px solid #1d1f22;
}

.reactive {
  cursor: pointer;
}

.reactive.selected {
  cursor: default;
}

.reactive:not(.selected):hover {
  opacity: 0.8;
}
