.swatch {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  gap: 1rem;
}

.value {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #a6a6a6;
  border-radius: 2px;
  box-sizing: border-box;
  opacity: 0.5;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.125rem;
  color: #292929;
  text-align: center;
}

.value.dark {
  color: #ffffff;
}

.value.selected {
  border: 2px solid transparent;
  outline: 2px solid #1d1f22;
  opacity: 1;
}

.reactive {
  cursor: pointer;
}

.reactive.selected {
  cursor: default;
}

.reactive:not(.selected):hover {
  opacity: 0.8;
}
